body{
    background-color: #dbe2ef;
}

.big-text{
    font-size: 2em;
}
.input-lg{
    padding-top: 35px;
    padding-bottom: 35px;
}
.input-md{
    padding-top: 28px;
    padding-bottom: 28px;
}

.outline-danger{
    padding: 10px;
    border-radius: 5px;
    border-color: #d9534f;
    border-width: 0.8px;
    border-style: solid;
}

.full-height{
    height: 92vh;
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.pm-0{
    padding: 5px;
    margin: 5px;
}